
  <div class="panel radius">

		<h3>Other Pages:</h3>
		
    <ul> 
    <li > <a href="/{{site.baseurl}}/" >Lab Website</a></li>
    <li > <a href="/{{site.baseurl}}/onboarding/" >Onboarding Homepage</a></li>
    <li > <a href="/{{site.baseurl}}/onboarding/getting_started_everyone" >Onboarding-Everyone</a></li>
    <li > <a href="/{{site.baseurl}}/onboarding/getting_started_drylab" >Onboarding-Dry</a></li>
    <li > <a href="/{{site.baseurl}}/onboarding/getting_started_wetlab" >Onboarding-Wet</a></li>
    <li > <a href="/{{site.baseurl}}/onboarding/learning_bioinformatics" >Learning-Bioinformatics</a></li>
    <li > <a href="/{{site.baseurl}}/onboarding/research_scholarship" >Research&Scholarship</a></li>

	  </ul>	
  </div>
