---
layout: page-fullwidth
title: "Publications"
header:
  image: "ZhangLab_logo.png"
  background-color: "#FFFFFF"
permalink: "/publication/"
---
<a href="https://scholar.google.com/citations?user=YA5MtwsAAAAJ&hl=en"> For a complete list of Yanxia Zhang's publications, click here.</a> <br>
{% comment %}
<a href="{{ site.url }}/{{site.baseurl}}/publication/preprint/">For preprints, please click here.  </a><br> 


<ul>
{% for post in site.categories.preprint %}
    <li>
      <i><b>{{ post.title }} </b> </i>
     <br> {{post.pub.authors}} <br>
      <b> {{post.pub.journal}}</b>, {{post.date|date: '%Y %B %d'}}; doi:<a href="{{post.pub.doi}}">{{post.pub.doi}}</a>
    </li>
    <br>
  {% endfor %}
</ul>
{% endcomment %}

Below is a list of representative peer-reviewed publications. (*equal contribution. <sup>#</sup>co-correspondence.)

{% capture lyear %} {{site.categories.publication.first.date |date: '%Y' }} {% endcapture %}
<ul>

{% for post in site.categories.publication %}
  {% capture year %}{{ post.date |date: '%Y' }}{% endcapture %}
  {% if year != lyear %}
   </ul>
     <h3> {{ post.date |date: '%Y'}} </h3>
     <ul>
     {% capture lyear %}{{ post.date |date: '%Y' }}{% endcapture %}
     {% endif %}
    <li>
      <i><b>{{ post.title }} </b> </i>
     <br> {{post.pub.authors}} <br>
      <b> {{post.pub.journal}}</b>, {{post.date|date: '%Y'}};doi:<a href="https://doi.org/{{post.pub.doi}}">{{post.pub.doi}}</a>
    </li>
    <br>
  {% endfor %}
</ul>

